# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Virtual environments
# -------------------------
venv/
.env

# -------------------------
# ML artifacts
# -------------------------
*.pt
*.onnx
*.tflite
*.h5


# -------------------------
# MediaPipe / CV cache
# -------------------------
*.npy
*.npz
*.csv

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# IDEs
# -------------------------
.vscode/
.idea/

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db
